:root {
  font-family: "Rubik", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --dark-navy-color: hsl(216, 25%, 25%);
  --grey-navy-color: hsl(219, 13%, 44%);
  --light-bluish-color: hsl(216, 47%, 78%);
  --light-grey-color: hsl(220, 38%, 97%);
  --green-color: hsl(151, 70%, 50%);
  --navy-color: hsl(215, 27%, 32%);
  --purple-color: hsl(277, 91%, 56%);
  --red-color: hsl(0, 82%, 63%);
  --pure-white-color: hsl(0, 0%, 100%);
  --20px: 1.25rem;
  --24px: 1.5rem;
  --28px: 1.75rem;
  --36px: 2rem;
  --64px: 4rem;
  --144px: 9rem;
}
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}
button {
  font-family: inherit;
}

body {
  display: flex;
  justify-content: center;
  background-image: url("../../public/assets/images/pattern-background-desktop-light.svg");
  background-size: cover;
  background-color: var(--light-grey-color);
  color: var(--dark-navy-color);
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 1157px;
  padding: 0 30px;
  max-width: 1157px;
  margin-top: 5rem;
}
.header,
.content {
  display: flex;
  justify-content: space-between;
}
.header .theme {
  display: flex;
  align-items: center;
}
.content {
  margin-top: 5rem;
}
img.topic-icon {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 6px;
}
img.accessibility {
  background-color: hsl(277, 100%, 95%);
}
img.html {
  background-color: hsl(22, 100%, 96%);
}
img.css {
  background-color: hsl(151, 87%, 94%);
}
img.javascript {
  background-color: hsl(223, 100%, 96%);
}
.topic-heading {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: var(--20px);
  font-weight: bold;
  justify-content: center;
}
.topic-heading img {
  width: 40px;
  height: 40px;
  padding: 8px;
  border-radius: 6px;
}
.left-content,
.left {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-width: 465px;
  flex-shrink: 1;
  gap: 2rem;
}
.left {
  align-self: flex-start;
  gap: 10rem;
}
.left-content > .heading {
  font-size: var(--64px);
}
.left-content.light > .helper {
  color: var(--grey-navy-color);
  font-size: var(--20px);
}
.left-content.dark > .helper {
  color: var(--light-bluish-color);
  font-size: var(--20px);
}
.left-content.light > .question-number {
  color: var(--grey-navy-color);
  font-size: var(--20px);
}
.left-content.dark > .question-number {
  color: var(--light-bluish-color);
  font-size: var(--20px);
}

.content .right {
  /* width: 564px; */
  max-width: 564px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}

#toggle {
  display: none;
}
.toggle-label {
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: var(--purple-color);
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  margin-inline: 1rem;
}
.toggle-label::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s;
}
#toggle:checked + .toggle-label {
  background-color: var(--purple-color);
}
#toggle:checked + .toggle-label::before {
  transform: translateX(20px);
}
.topics,
.right {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  flex-grow: 1;
}
.right {
  gap: 2rem;
}
.item {
  padding: 18px 20px;
  font-size: var(--20px);
  font-weight: 500;
  display: flex;
  gap: 2rem;
  color: var(--dark-navy-color);
  align-items: center;
  border-radius: 24px;
  background-color: var(--pure-white-color);
  cursor: pointer;
}
.topics li:hover,
.option:hover {
  box-shadow: 0 16px 40px hsla(220, 29%, 66%, 14%);
}
.option:hover > .letter {
  background-color: hsl(277, 100%, 95%);
  color: var(--purple-color);
}
.option.active {
  border: 3px solid var(--purple-color);
}
.option.correct-answer {
  border: 3px solid var(--green-color);
}
.option.wrong-answer {
  border: 3px solid var(--red-color);
}
.option.correct-answer > .letter {
  background-color: var(--green-color);
  color: var(--pure-white-color);
}
.option.wrong-answer > .letter {
  background-color: var(--red-color);
  color: var(--pure-white-color);
}
.option.active > .letter {
  background-color: var(--purple-color);
  color: var(--pure-white-color);
}
.option.disable {
  pointer-events: none;
}
.option > .letter {
  padding: 9px 18px;
  background-color: var(--light-grey-color);
  border-radius: 8px;
}
.option img {
  margin-left: auto;
}
.left-content > .question {
  font-size: var(--36px);
}
.left-content > .question-number {
  font-size: var(--20px);
}
#quiz-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
button.submit-answer,
button.retake-button {
  border: none;
  background-color: var(--purple-color);
  color: var(--pure-white-color);
  font-size: var(--20px);
  justify-content: center;
  /* font-weight: bold; */
}

.progress-bar {
  max-width: 400px;
  background-color: var(--pure-white-color);
  height: 5px;
  border-radius: 20px;
}
.progress {
  background-color: var(--purple-color);
  height: 5px;
  border-radius: 20px;
}

.score-card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.score-card-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 48px;
  border: 1px solid var(--light-grey-color);
  border-radius: 24px;
  background-color: var(--pure-white-color);
}
.score-card-content .score {
  font-size: var(--144px);
  color: var(--dark-navy-color);
}
.score-card-content .helper {
  font-size: var(--24px);
  color: var(--grey-navy-color);
}
.text-lg {
  font-size: var(--64px);
}
.error {
  color: var(--red-color);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

@media (max-width: 50rem) {
  .wrapper {
    margin-top: 2rem;
  }
  .content {
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
  }
  .left {
    width: 100%;
    gap: 2rem;
  }
}
